// all banner types on site

.title {
  // custom content headline
  font-family: $serif;
  line-height: 1.1;
  &--upper { text-transform: uppercase; }
  &--xxxl   { font-size: $s8; }
  &--xxl    { font-size: $s7; }
  &--xl     { font-size: $s6; }
  &--lg     { font-size: $s5; }
  &--md     { font-size: $s4; }
  &--sm     { font-size: $s3; }
  &--xs     { font-size: $s2; }
  &--xxs    { font-size: $s1; }
  &--xxxs   { font-size: $s0; }
  @include bp($lg){
    &--xxxl   { font-size: $s9; }
    &--xxl    { font-size: $s8; }
    &--xl     { font-size: $s7; }
    &--lg     { font-size: $s6; }
    &--md     { font-size: $s5; }
    &--sm     { font-size: $s4; }
    &--xs     { font-size: $s3; }
    &--xxs    { font-size: $s2; }
    &--xxxs   { font-size: $s1; }
  }
}

.sub-title {
  // custom content headline
  font-family: $sans;
  line-height: 1.4;
  font-size: $s2; // default size
  &--lg     { font-size: $s4; }
  &--sm     { font-size: $s0; }
  @include bp($lg){
    font-size: $s3; // default size
    &--lg     { font-size: $s5; }
    &--sm     { font-size: $s1; }
  }
}


.banner-title {
  font-family: $serif;
  line-height: 1;
  text-transform: uppercase;
  margin-top: $s-2;
  margin-bottom: $s-2;
  letter-spacing: .15rem;
  font-size: $s8;
  @include bp($sm){ font-size: $s10; }
  @include bp($md){ font-size: $s11; }
  @include bp($lg){ font-size: $s12; }
  @include bp($xl){ font-size: $s13; }
}

.banner-sub-title {
  font-family: $sans;
  line-height: 1.1;
  font-size: $s2;
  @include bp($sm){ font-size: $s3; }
  @include bp($md){ font-size: $s4; }
  @include bp($xl){ font-size: $s5; }
}

.content-title {
  font-family: $sans;
  font-size: $s3;
  font-weight: 600;
  color: $d-blue;
  line-height: 1.1;
}