<!DOCTYPE html>
<html lang="en">

  {% include page/head.html %}

  <body>

    {% include components/tracking.html %}

    {% include page/header.html %}

    {% include page/banner.html %}

    <div class="vpad--xxl bg__fixed">
      <div class="bg__fixed-wrap">
        <div class="bg__fixed-img" style="background-image: url('{{site.img}}/content/intro/bg.png');"></div>
      </div>
      <div class="container">
        <div class="width width--lg text--center">
          <p class="title title--sm">{{page.headline}}</p>
          <div class="space--xs"></div>
          <p class="text--xxxl">{{site.description}}</p>
          {% if page.primary-cta %}
            <div class="space--md">
              <a href="{{page.primary-cta.link}}" class="btn btn--outline btn--outline-cyan">{{page.primary-cta.label}}</a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>

    <div>

      <!-- loops through section file for page content -->
      {% for section in site.data.sections %}
        {% assign interview = site.data.interviews[section.id] %}
        <div id="{{section.id}}" class="js-nav-section vpad--xxxl text--white bg__fixed">
          <div class="bg__fixed-wrap">
            <div class="bg__fixed-img" style="background-image: url('{{site.img}}/content/{{section.id}}/bg.jpg');">
            </div>
          </div>
          <div class="container content-spacing">
            <div class="width width--lg text--center">
              <div class="title title--xl title--upper">{{section.title}}</div>
              <p class="text--xxxl">{{section.description}}</p>
            </div>
            <div class="space--xxl"></div>
            <div class="boxpad--xl bg--white text--black">
              <div class="row row--xl-6-6">
                {% for poi in section.pois %}
                  <div class="col">
                    <div class="bg-img bg-img--3-2" style="background-image: url('{{site.img}}/content/{{section.id}}/{{poi.id}}.jpg');"></div>
                    <div class="space--md"></div>
                    <h3 class="content-title">{{poi.title}}</h3>
                    <p>{{poi.description}}</p>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}

      <!-- Offers section -->
      <div id="offers" class="js-nav-section">
        <div class="space--xxxxl"></div>
        <div class="container text--center text--xl">
          <div class="title title--xxl">Latest Offers</div>
        </div>
        {% include offer/all-offers.html %}
        <div class="space--xxl"></div>
        {% include page/promo-offers.html %}
      </div>

    </div>

    {% include page/footer.html %}

  </body>

</html>