<!DOCTYPE html>
<html lang="en">

  {% include page/head.html %}

  <body>

    {% include components/tracking.html %}

    {% include page/header.html %}

    {% include page/banner.html %}

    <div class="vpad--xxl bg__fixed">
      <div class="bg__fixed-wrap">
        <div class="bg__fixed-img" style="background-image: url('{{site.img}}/content/intro/bg.png');"></div>
      </div>
      <div class="container">
        <div class="width width--lg text--center">
          <p class="text--xxl">{{site.description}}</p>
        </div>
        <div class="space--xl"></div>
        <div class="width width--xl">
          <div class="boxpad--lg bg--light border-radius">
            <h2 class="title title--xs">Your safety, our priority</h2>
            <div class="space--sm"></div>
            <div class="row row--6-6 row--gutters-sm content-spacing">
              <div class="col">
                <p>Read our <a href="https://mp.secretescapes.com/uk/2020/safe-stay-policy/" target="_blank">SafeStay policy</a> to find out what we are doing to ensure your break is as safe as possible.</p>
                <p>Dubai is now on the government safe travel list, meaning you won’t have to quarantine on your return to the UK.</p>
                <p>Travellers coming from the UK to Dubai have the option to either present a negative COVID-19 Polymerase Chain Reaction (PCR) test before departure, which is valid for 96 hours from the date of the test, or to take a PCR test on arrival at Dubai airport.</p>
              </div>
              <div class="col">
                <p>Face masks are mandatory in most public spaces in Dubai.</p>
                <p>Before travelling please check the latest government advice and guidance relevant to your destination.</p>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>

    <div>

      <!-- loops through section file for page content -->
      {% for section in site.data.sections %}
        {% assign interview = site.data.interviews[section.id] %}
        <div id="{{section.id}}" class="js-nav-section vpad--xxxl text--white bg__fixed">
          <div class="bg__fixed-wrap bg--dark">
            <div class="bg__fixed-img" style="background-image: url('{{site.img}}/content/{{section.id}}/bg.jpg');">
            </div>
          </div>
          <div class="container content-spacing">
            <div class="width width--lg text--center">
              <div class="title title--xl title--upper">{{section.title}}</div>
              <p class="text--xxxl">{{section.description}}</p>
            </div>
            <div class="space--xxl"></div>
            <div class="boxpad--xl bg--white text--black">
              <div class="row row--xl-6-6">
                {% for poi in section.pois %}
                  <div class="col">
                    <div class="bg-img bg-img--3-2" style="background-image: url('{{site.img}}/content/{{section.id}}/{{poi.id}}.jpg');"></div>
                    <div class="space--md"></div>
                    <h3 class="content-title">{{poi.title}}</h3>
                    <p>{{poi.description}}</p>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}

      <!-- Offers section -->
      <div id="offers" class="js-nav-section">
        <div class="space--xxxxl"></div>
        <div class="container text--center text--xl">
          <div class="title title--xxl">Latest Offers</div>
        </div>
        {% include offer/all-offers.html %}
        <div class="space--xxl"></div>
        {% include page/promo-offers.html %}
      </div>

    </div>

    {% include page/footer.html %}

  </body>

</html>